body {
	
	font-style: "Serif" ;
	color: #333333;
	margin: 0;
	padding: 0;
/*	background-image: url("images/largeleather.png")
*/}

header {
 
	height: 50px;
	background-color: #E0E0E0;

}


h1{
	float:left;
	background-color: #333333;
	font-size: 32px;
	color: #FFCCBC;
    text-align: center;
	/*font-weight: bold;*/
	width:400px;
	height: 40px;
	margin-left: 140px;
	padding-top:10px;
	font-family: 'Leckerli One', cursive;
	/*font-family: 'Julius Sans One', sans-serif;*/
}

.aboutNav{
	float:left;
	font-size: 16px;
	text-align: center;
	color: #333333;
	padding-left: 250px;
	padding-right:25px;
	padding-top:12px;
	font-family: Arial;

}

.aboveNav:hover{
	background-color: white;
}

.portfolioNav{
	float:left;
	font-size: 16px;
	text-align: center;
	color: #333333;
	padding-right: 25px;
	padding-top:12px;
	font-family: Arial;
}

.contactNav{
	float:left;
	font-size: 16px;
    text-align: center;
	color: #333333;
	padding-right:25px;
	padding-top:12px;
	font-family: Arial;

}

footer {
	position: fixed;
	bottom: 0;
    color: #FFCCBC;
	height: 30px;
	width: 100%;
	background-color: #333333;
	padding: 7px 500px 7px 500px;
	border-top: 5px solid #FFCCBC;

}

#footnote {
    text-align: center;
	font-size: 12px;
	font-family: Arial;
}



h2{
	font-size: 24px;
	padding-bottom: 10px;
	font-family: Arial;
}



img {

	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
}

a {
	color: red;
}

#main-bio{
	position: relative;
	float: left;
	width: 650px;
	margin-top: 30px;
	margin-left: 140px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	padding-top:20px;
	background-color: #E0E0E0;
	color: #333333;
	font-family: Arial;

}

#bio-image{
	float: left;
	
	
}

#github{
	float:left;
	width:55px;
	height:55px;
	margin-left:15px;
	margin-right:5px;
}

#linkdin{
	float:left;
	width:55px;
	height:55px;
	margin-right:5px;
}

#stackoverflow{
	float:left;
	width:50px;
	height:50px;
	padding-top:2px;
	margin-right:15px;
}

#contact-info{
	float: left;
	width: 200px;
	line-height:150%;
	padding: 20px 20px 30px 20px;
	background-color: #E0E0E0;
	margin-top:30px;
	font-family: Arial;
}

#nameContact{
/*	float:left;*/
	width:500px;
	height:20px;
	margin:5px 15px 15px 0px;
	font-family: Arial;
}

#emailContact{
	/*float:left;*/
	width:500px;
	height:20px;
	margin:0px 15px 15px 0px;
	font-family: Arial;
	
}


#mesageContact{
	/*float:left;*/
	width:500px;
	height:250px;
	margin:0px 15px 15px 0px;
	font-family: Arial;
}

#submit{
	position:absolute;
	bottom:10px;
	left:10px;
	background-color: #333333;
	color:white;
	font-family: Arial;
}

#lake{
	float:left;
	width: 150px;
	height: 150px;
	padding: 5px 5px 0px 0px;
}

#tree{
	float:left;
	width: 150px;
	height: 150px;
	padding: 5px 5px 0px 0px;
}

#snow{
	float:left;
	width: 150px;
	height: 150px;
	padding: 5px 5px 0px 0px;
}

#surf{
	float:left;
	width: 150px;
	height: 150px;
	padding: 5px 5px 0px 0px;
}

#desert{
	float:left;
	width: 150px;
	height: 150px;
	padding: 5px 5px 5px 5px;
}


